<div class="span12">
  <div class="offset3">
    <%= link_to "&larr; Back".html_safe, stuffs_path, class: "text-normal pull-left" %>
  </div>
</div>
<div class="span12">
  <div class="offset4 span4">
    <br />
    <h1>New stuff</h1>

    <%= render 'form' %>
  </div>
</div>
